# macOS
.DS_Store

# Python
__pycache__/
*.py[cod]
*.egg-info/
.venv/
venv/
*.db
*.sqlite3

# Environment
.env
.env.local

# Node
node_modules/
dist/
dist-ssr/
*.local

# Editors
.vscode/
.idea/

# Logs
*.log
npm-debug.log*
